* {
    box-sizing: border-box; margin: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#BDF2D5, #F9F9C5)
}

.wrap {
    display: gird;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 650px;
    padding-right: 40px;
    /* border: solid 1px #02734A; */
}

.curr-time {
    float: right;
    width: 120px;
    color: #7fbaa9;
    margin-bottom: 1px;
    font-size: 20px;
}

.big-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 720px;
    height: 490px; 
    border-radius: 10px;
    border: solid 1px #AEDBCE;
} 

.left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#timer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F25050;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    color: #FEFBE7;
    transition: all .2s ease-in-out;
    font-size: 20px;
}

#timer:hover {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

#stopWatch {
    width: 100px;
    height: 100px;
    background-color: #FEFBE7;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    color: #F25050;
    transition: all .2s ease-in-out;
    font-size: 20px;
}

#stopWatch:hover {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.timer-btn {
    border: 0;
    outline: 0;
    padding: 0;
    background-color:transparent;
    font-size: 20px;
}

.watch-btn {
    border: 0;
    outline: 0;
    padding: 0;
    background-color:transparent;
    font-size: 20px;
}

#calendar {
    width: 315px;
    height: 220px;
    border-radius: 10px;
    background-color: #FAF4B7;
    border: solid 1px #A0BCC2;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;
    color: #6867AC;
    transition: all .2s ease-in-out;
}

#calendar:hover {
    transform: scale(1.03);
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#checkList {
    width: 350px;
    height: 320px;
    border-radius: 10px;
    background-color: #DBDFFD;
    border: solid 2px #F6FFA4;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    color: #FFBD35; 
    font-size: 17px;
    transition: all .2s ease-in-out;
}

#checkList:hover {
    transform: scale(1.03);
}

.input-form {
    margin-bottom: 5px;
}

.input-form input {
    width: 240px;
    border: solid 1px #6867AC;
    color: #6867AC;
}

.input-form button {
    border: solid 1px #6867AC;
    background-color: #F6FFA4;
    color: #6867AC;
}

.check-list {
    width: 280px;
    padding-left: 40px;
    color: #6867AC;
    text-align: left;
    font-size: 16px;
}

/* .li {
    width: 250px;
    list-style: none;
    color: #6867AC;
    text-align: left;
}

.check-btn {
    border: solid 1px #6867AC;
    background-color: #F6FFA4;
    color: #6867AC;
    margin-left: 3px;
    float: right;
} */

#memo {
    width: 350px;
    height: 150px;
    border-radius: 10px;
    border: solid 1px #F25050;
    background-color: #FEFBE7;
    margin: 0 auto;
    text-align: center;
    padding-top: 1px;
    color: #219F94;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

#memo:hover {
    transform: scale(1.03);
}

#memo input {
    border-style: none;
    outline: none;
    background-color: #FEFBE7;
    width: 340px;
    height: 120px;
    color: #219F94;
    font-size: 16px;
}

#memo button {
    border: solid 1px #6867AC;
    background-color: #F6FFA4;
    color: #6867AC;
    padding-top: 0px;
    padding-bottom: 0px;
}

.play-list {
    margin-top: 5px;
    width: 250px;
    height: 35px;
    border: solid 1px #9fc8bd;
    border-radius: 10px;
}